<h1>Blogs creados</h1>

<p>Title: <%= @article.title %></p>

<p>Description: <%= @article.description %></p>

<%= link_to "Editar este blog", edit_article_path(@article) %>
<%= link_to "Regresar a tus blog", articles_path %>